$light-one: #7579e7;
$light-two: #9ab3f5;
$light-three: #a3d8f4;
$light-four: #b9fffc;
$light-four--higher-hue: #ccf8f6;
$light-four--half-opacity: #b9fffb7a;

$dark-one: #000000;
$dark-two: #7628a0;
$dark-three: #892cdc;
$dark-four: #bc6ff1;
$dark-four--half-opacity: #bd6ff185;
$dark-four--lesser-hue: #75faf3;

$white: #fff;

/**
10
17
42
55
61
62
111
151
**/
