*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.themeButton {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms all ease-in;
  outline: none;
  border: none;

  ::selection {
    background: transparent;
  }
}
