.cardholder {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  transition: 300ms all ease-in;

  .site-name {
    font-size: 1.25rem;
    font-weight: 800;
  }
}
