// .cardholder {
//   background: rgb(38, 161, 231);
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-template-areas:
//     "worldbuilding askubuntu stackoverflow superuser"
//     "english askubuntu stackoverflow cstheory"
//     "unix physics astronomy math"
//     "codereview physics astronomy security"
//     "movies history raspberrypi scicomp"
//     "softwareengineering android fitness skeptics"
//     "cs hinduism networkengineering ux";

//   //the main 4
//   .askubuntu {
//     background: lightseagreen;
//     // grid-area: 1 / 2 / 3 / 3;
//     grid-area: askubuntu;
//   }

//   .stackoverflow {
//     background: lightpink;
//     // grid-area: 1 / 3 / 3 / 4;
//     grid-area: stackoverflow;
//   }

//   .physics {
//     background: lightsteelblue;
//     // grid-area: 3 / 2 / 5 / 3;
//     grid-area: physics;
//   }

//   .astronomy {
//     background: lightgreen;
//     // grid-area: 3 / 3 / 5 / 3;
//     grid-area: astronomy;
//   }

//   //the ones to the left of the main 4

//   .worldbuilding {
//     background: lightslategray;
//     // grid-area: 1 / 1 / 2 / 2;
//     grid-area: worldbuilding;
//   }

//   .english {
//     background: lightsalmon;
//     // grid-area: 2 / 1 / 3 / 2;
//     grid-area: english;
//   }

//   .unix {
//     background: lightslategray;
//     // grid-area: 3 / 1 / 4/ 2;
//     grid-area: unix;
//   }
//   .codereview {
//     background: lightsalmon;
//     // grid-area: 4 / 1 / 5/ 2;
//     grid-area: codereview;
//   }

//   //the ones to the right of the main 4

//   .superuser {
//     background: lightyellow;
//     // grid-area: 1 / -2 / 2 / -1;
//     grid-area: superuser;
//   }

//   .cstheory {
//     background: lightseagreen;
//     // grid-area: 2 / -2 / 3 / -1;
//     grid-area: cstheory;
//   }

//   .math {
//     background: lightyellow;
//     // grid-area: 3 / -2 / 4 / -1;
//     grid-area: math;
//   }

//   .security {
//     background: lightseagreen;
//     // grid-area: 4 / -2 / 5 / -1;
//     grid-area: security;
//   }

//   .movies {
//     background: lightskyblue;
//     grid-area: movies;
//   }

//   .softwareengineering {
//     background: lightyellow;
//     grid-area: softwareengineering;
//   }

//   .android {
//     background: lightskyblue;
//     grid-area: android;
//   }

//   .history {
//     background: lightyellow;
//     grid-area: history;
//   }

//   .fitness {
//     background: lightyellow;
//     grid-area: fitness;
//   }

//   .skeptics {
//     background: lightskyblue;
//     grid-area: skeptics;
//   }

//   .raspberrypi {
//     background: lightskyblue;
//     grid-area: raspberrypi;
//   }

//   .scicomp {
//     background: lightyellow;
//     grid-area: scicomp;
//   }

//   .cs {
//     background: lightpink;
//     grid-area: cs;
//   }

//   .hinduism {
//     background: lightgreen;
//     grid-area: hinduism;
//   }

//   .networkengineering {
//     background: lightpink;
//     grid-area: networkengineering;
//   }

//   .ux {
//     background: lightgreen;
//     grid-area: ux;
//     // margin-top: 2em;
//   }
// }

.cardholder {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  transition: 300ms all ease-in;

  .site-name {
    font-size: 1.25rem;
    font-weight: 800;
  }
}
