//This is for the home page

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  margin-left: 0.7rem;
  margin-right: 0.7rem;

  p {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  &--viewmore {
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1rem;

    .left__border {
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 2em;
    }

    .top__border {
      position: absolute;
      left: 0;
      top: 0;
      width: 2em;
      height: 4px;
    }

    .right__border {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 4px;
      height: 2em;
    }

    .bottom__border {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2em;
      height: 4px;
    }

    &:hover {
      transition: all 160ms ease-in;
      .left__border,
      .right__border {
        height: 100%;
      }

      .top__border,
      .bottom__border {
        width: 100%;
      }
    }
  }

  .site-name {
    font-size: 1rem;
    font-weight: 700;
    cursor: default;
  }
}
