.navbar {
  width: 100%;
  height: 10rem;
  background: black;
  display: flex;
  justify-content: flex-start;
  border-bottom: 8px solid;
  transition: 400ms all ease-in;
  text-decoration: none;

  &::after,
  *::before {
    text-decoration: none;
  }

  .home {
    text-decoration: none;
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: 700;
  }

  @media screen and (max-width: 600px) {
    justify-content: center;
  }
}
