.scroll-top-button {
  position: fixed;
  right: 1.5%;
  bottom: 9%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in;
  cursor: pointer;

  &:hover {
    transition: 300ms ease-in;
  }
}

.scroll-top-icon {
  width: 30px;
  height: 30px;
}
