.scroll-top-button {
  position: fixed;
  right: 1.5%;
  bottom: 5%;
  // opacity: 50%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  //   border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in;

  &:hover {
    // opacity: 70%;
    transition: 300ms ease-in;
  }
}
