//This is for the specific sites

@import "./variables";

.question-card--parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem;

  .question-card {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    width: 500px;
    // transition: 300ms all ease-in;

    // .question {
    //   padding: 0.5rem;
    //   padding-bottom: 0.8rem;
    //   font-weight: 700;

    //   .no-answer {
    //     padding: 1.5rem;
    //     border-bottom: 6.5px solid rgb(255, 174, 174);
    //   }

    //   .answer {
    //     padding: 1.5rem;
    //     border-radius: 3px;
    //     border-bottom: 6.5px solid rgb(174, 174, 255);
    //   }

    //   .title {
    //     text-decoration: none;
    //     font-size: 1.25rem;
    //     text-align: center;
    //   }
    // }

    .tag-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 2rem;
      padding: 0.8rem;
      border-radius: 10px;
      cursor: default;

      .tags {
        text-overflow: ellipsis;
        background: rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        text-align: center;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    // .meta-data {
    //   margin-top: 2rem;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-around;
    //   align-items: center;
    //   cursor: default;

    //   &--left {
    //     height: 50%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-around;

    //     img {
    //       padding: 5px;
    //       transform: translateY(25%);
    //       height: 30px;
    //       width: 30px;
    //       &::selection {
    //         background: transparent;
    //       }
    //     }

    //     .view-count,
    //     .answer-count {
    //       span {
    //         padding: 5px;
    //         font-size: 1.25rem;
    //       }
    //     }
    //   }

    //   &--right {
    //     padding: 1rem;
    //     text-align: center;
    //     height: 100%;
    //     transform: scale(1.1);
    //     img {
    //       width: 100px;
    //       height: 100px;
    //       border-radius: 50%;
    //     }
    //     p {
    //       text-decoration: none;
    //     }
    //   }
    // }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    margin: 0;
    margin-top: 3rem;

    .question-card {
      width: 20em;
      height: 100%;

      .tag-holder {
        flex-direction: column;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .index {
    position: absolute;
    text-align: center;
    right: 3%;
    top: 0%;
    background: rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 50% 75%, 0 100%);
    transition: 200ms all ease-in;
  }
}
